---
layout: default
header: Mann.engineer

og_title: David Mann, Minneapolis Software Engineer
og_description: Doing projects, solving problems, having fun.
og_image: /assets/images/mann.jpg
og_type: website
---
<h2>Posts</h2>
<ul class="items">
  {% for item in site.categories.blog %}
    <li>
      <div class="date">
        {{ item.date | date: "%b %d, %Y" }}
      </div>
      <div class="hyphen">&#8212;</div>
      <div class="title">
        <a href="{{ item.url }}">{{ item.title }}</a>
        <div class="subtitle"><em>{{ item.subtitle }}</em></div>
      </div>
    </li>
  {% endfor %}
</ul>

<h2>Projects</h2>
<ul class="items">
  {% for item in site.categories.project %}
    <li>
      <div class="date">
        {{ item.date | date: "%b %d, %Y" }}
      </div>
      <div class="hyphen">&#8212;</div>
      <div class="title">
        <a href="{{ item.url }}">{{ item.title }}</a>
        <div class="subtitle"><em>{{ item.subtitle }}</em></div>
      </div>
    </li>
  {% endfor %}
</ul>
<!-- <h4>Pages</h4>
<ul>
	{% for page in site.html_pages %}
			<li>
				<a href="{{ page.url }}">{{ page.name }}</a>
			</li>
	{% endfor %}
</ul>
 -->
