---
layout: default
header: Mann.engineer
header: Typed Business Cards
subtitle: Artisanal cards made with a typewriter

og_title: Wrench 59
og_description: An idea for a 60% keyboard using keyboard-layout-editor.com.
og_image: /assets/images/wrench-59.png
og_type: website
---
<h2>Posts</h2>
<ul class="posts">
  {% for post in site.posts %}
    <li>
      {{ post.date | date: "%b %d, %Y" }}&#8212;<a href="{{ post.url }}"> {{ post.title }}</a> &#8212; <em>{{ post.subtitle }}</em>
    </li>
  {% endfor %}
</ul>
<!-- <h4>Pages</h4>
<ul>
	{% for page in site.html_pages %}
			<li>
				<a href="{{ page.url }}">{{ page.name }}</a>
			</li>
	{% endfor %}
</ul>
 -->
