<footer>
  <a href="https://twitter.com/DavidMann10k"
    class="twitter-follow-button"
    data-show-count="false">
    Follow @DavidMann10k
  </a>
	<a class="github-button" href="https://github.com/davidmann10k" aria-label="Follow @davidmann10k on GitHub">Follow @davidmann10k</a>
  <a class="link" href="/contact/">Contact David</a>
</footer>

<!--
  https://buttons.github.io/
  https://publish.twitter.com
-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
