<footer>
	<a href="https://twitter.com/DavidMann10k"
		class="twitter-follow-button"
		data-show-count="false">
		Follow @DavidMann10k
	</a>
	<a href="https://github.com/davidmann10k"
		class="github-button"
		data-count-href="/davidmann10k/followers"
		data-count-api="/users/davidmann10k#followers"
		data-count-aria-label="# followers on GitHub"
		aria-label="Follow @davidmann10k on GitHub">
		Follow @davidmann10k
	</a>
</footer>

<!--
	https://buttons.github.io/
	https://publish.twitter.com
-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
