<header>
	<h1> {{ page.header }}</h1>
  {% if page.url != "/" %}
    <a href="{{ site.url }}"}>&larr; Back</a>
  {% else %}
		<p>Developing custom web applications, games, and virtual reality experiences.</p>
		<p>Check out my previous projects and get in contact with me to learn more about how I can help make your next project happen.</p>
		<a class="" href="/contact/">Contact David @ Mann.Engineer</a>
  {% endif %}
  {% if page.date %}
    <div class="date">{{page.date | date: "%B %d, %Y" }}</div>
  {% endif %}
</header>
