<header>
	<h1> {{ page.header }}</h1>
  {% if page.url != "/" %}
    <a href="{{ site.url }}"}>&larr; Back</a>
  {% else %}
		<p>Hand crafting custom games, web applications, and virtual reality experiences in the great state of Minnesota--near Minneapolis.</p>

    <p>Get in contact with me to learn more about how I can help make your next project happen.</p>

    <a class="link" href="/contact/">David@Mann.Engineer</a>
    <a href="https://twitter.com/DavidMann10k"
    class="twitter-link"
    data-show-count="false">
    <img class="twitter-img" src="/assets/images/twitter.svg"></img>
    Follow @DavidMann10k
  </a>
  <a class="github-button" href="https://github.com/davidmann10k" aria-label="Follow @davidmann10k on GitHub">Follow @davidmann10k</a>
  {% endif %}
  {% if page.date %}
    <div class="date">{{page.date | date: "%B %d, %Y" }}</div>
  {% endif %}
</header>
