<h2>Tags</h2>

<div class="skills">
  <a href="tag/game-dev">Game Development</a>
  <a href="tag/unity-3d">Unity 3D</a>
  <a href="tag/c-sharp">C#</a>
  <a href="tag/web-dev">Web Development</a>
  <a href="tag/ruby-on-rails">Ruby on Rails</a>
  <a href="tag/vr">VR</a>
</div>

&nbsp;

<div class="skills">
  <a href="tag/character-controller">Character Controller</a>
  <a href="tag/cinemachine">Cinemachine</a>
  <a href="tag/css">CSS</a>
  <a href="tag/gaia">GAIA</a>
  <a href="tag/game-design">Game Design</a>
  <a href="tag/git">Git</a>
  <a href="tag/html">HTML</a>
  <a href="tag/javascript">JavaScript</a>
  <a href="tag/jquery">jQuery</a>
  <a href="tag/pathfinding">Pathfinding</a>
  <a href="tag/postgresql">PostgreSQL</a>
  <a href="tag/prototyping">Prototyping</a>
  <a href="tag/rewired">Rewired</a>
  <a href="tag/sass">SASS</a>
</div>
