---
---

@import "{{ site.theme }}";

*, body {
  font-family: 'Open Sans', sans-serif;
}

header h1, h2, h4 {
  font-family: 'Exo', sans-serif;
}

img.block-center {
  margin: auto;
  display: block;
}

.link {
  border: 1px solid #666;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  padding: 0px 5px;
  text-align: center;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/***** items list *****/

ul.items li {
  list-style:none;
}

.items .date {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.items .title {
  display: inline-block;
}

.items .subtitle {
  font-size: 12px;
}

.items .hyphen {
  display: inline-block;
  vertical-align: top;
}

/***** contact form *****/
textarea, input, label {
  display: block;
}

textarea, input[type='email'], input[type='text'] {
  width: 100%;
}

textarea {
  height: 100px;
}

input[type='submit'] {
  margin-top: 4px;
}

.input-group {
  display: inline-block;
  margin: 0px -2px 0px 0px;
  padding-right: 2%;
  padding-left: 0px;
  width: 49%;
}

.input-wrapper{
    white-space: nowrap;
}
